<br>
<div>
  <table class="table table-hover table-bordered">
    <thead class="thead text-black bg-light">
      <tr>
        <th>Opt-in</th>
        <th>Client</th>
        <th>Account Balance</th>
        <th>Statement Balance</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Allergies</th>
        <th>Email</th>
        <th>Delivery</th>
      </tr>
    </thead>
      <tbody>
        <tr  *ngFor="let client of clients | async" (click)="goToDetailPage(client)" class="table-light">
          <td>
            <span class="green" *ngIf="client.data.opt == 'true'"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Green_sphere.svg/128px-Green_sphere.svg.png"></span>
            <span *ngIf="client.data.opt == 'false'"><img src="http://www.clker.com/cliparts/m/R/q/I/g/g/red-glossy-dot-md.png"></span>
          </td>
          <td>{{client.data.name}}</td>
          <td>${{client.data.account}}</td>
          <td>${{client.data.statement}}</td>
          <td>{{client.data.address}}</td>
          <td>{{client.data.zip}}</td>
          <td>{{client.data.phone}}</td>
          <td>{{client.data.allergies}}</td>
          <td>{{client.data.email}}</td>
          <td>{{client.data.delivery}}</td>
        </tr>
    </tbody>
  </table>
</div>
