<div>
  <table class="table table-hover table-bordered">
    <thead class="thead text-black bg-light">
      <tr>
        <th>Client</th>
        <th>Account Balance</th>
        <th>Statement Balance</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
      <tbody>
        <tr  *ngFor="let client of clients | async" (click)="goToDetailPage(client)" class="table-light">
          <td class="align-middle">{{client.data.name}}</td>
          <td style="text-align: center;">${{client.data.account}}</td>
          <td style="text-align: center;">${{client.data.statement}}</td>
          <td style="text-align: center;">{{client.data.address}}</td>
          <td style="text-align: center;">{{client.data.zip}}</td>
          <td style="text-align: center;">{{client.data.phone}}</td>
          <td style="text-align: center;">{{client.data.email}}</td>
        </tr>
    </tbody>
  </table>
</div>
