<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/scroll-images/dan-counsell-365538.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/scroll-images/natalie-rhea-riggs-359429.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/scroll-images/hermes-rivera-258743.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/scroll-images/markus-spiske-139525.jpg" alt="Forth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/scroll-images/img2.jpg" alt="Fifth slide">
    </div>
  </div>
</div>
