<div class="row mt-2">
  <div class='col-sm-6'>
    <div class="card">
      <div class="card-body">
        <div *ngIf='selectedClient'>
          <label>Client Name:  </label>
          <input [(ngModel)]="selectedClient.name">
        </div>

        <div>
          <label>Address:</label>
          <input [(ngModel)]="selectedClient.address">
        </div>

        <div>
          <label>Zipcode:</label>
          <input [(ngModel)]="selectedClient.zip">
        </div>

        <div>
          <label>Account:</label>
          <input [(ngModel)]="selectedClient.account">
        </div>

        <div>
          <label>Statement:</label>
          <input [(ngModel)]="selectedClient.statement">
        </div>

        <div>
          <label>Phone:</label>
          <input [(ngModel)]="selectedClient.phone">
        </div>

        <div>
          <label>Carrier:</label>
          <select [(ngModel)]="selectedClient.carrier" #newCarrier>
            <option value="Verizon">Verzion</option>
            <option value="AT&T">AT&T</option>
            <option value="T-Mobile">T-Mobile</option>
            <option value="Sprint">Sprint</option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='card'>
      <div class='card-body'>
        <div>
          <label>Meal Plan:</label>
          <select #newPlan [(ngModel)]="selectedClient.plan">
            <option value="Normal">Normal</option>
            <option value="Low Soy">Low Soy</option>
            <option value="Glute Free">Gluten Free</option>
            <option value="Small">Small</option>
          </select>
        </div>
        <div>
          <label>email:</label>
          <input [(ngModel)]="selectedClient.email">
        </div>

        <div>
          <label>Allergies:</label>
          <input [(ngModel)]="selectedClient.allergies">
        </div>
        <div>
          <label>Delivery:</label>
          <select [(ngModel)]="selectedClient.delivery" #newDelivery>
            <option value="Bi Weekly">Bi Weekly</option>
            <option value="Weekly">Weekly</option>
          </select>
        </div>
        <div>
          <label>Payment:</label>
          <select [(ngModel)]="selectedClient.payment" #newPayment>
            <option value="Stripe">Stripe</option>
            <option value="PayPal">PayPal</option>
            <option value="Square">Square</option>
          </select>
        </div>
        <div>
          <label>Opt-in:</label>
          <select [(ngModel)]="selectedClient.opt" #optIn>
            <option value=true>Opt in</option>
            <option value=false>Opt out</option>
          </select>
        </div>
        <button class="btn btn-warning" (click)="beginUpdatingClient(selectedClient, clientId)">Update</button>
      </div>
    </div>
  </div>
</div>
