body {
  bottom: 40;
}

.navbar {
  background-color: lightgrey;
  padding-top: 20px;
}

.footer{
    color: #D7D7D7;
    text-align: right;
    padding-right: 8%;
    padding-top: 5px;
    letter-spacing: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    margin: 0 auto -2150px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 2;
}
