<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">HOME &nbsp;&nbsp;|</a>
      <a *ngIf="userEmail === 'pdxfoodservice@gmail.com'" class="navbar-brand" routerLink="clients">CLIENTS &nbsp;&nbsp;|</a>
      <a *ngIf="userEmail === 'pdxfoodservice@gmail.com'" class="navbar-brand" routerLink="create">+NEW CLIENT &nbsp;&nbsp;&nbsp;|</a>
      <a *ngIf="userEmail === 'pdxfoodservice@gmail.com'" class="navbar-brand" routerLink="meals">MEALS &nbsp;&nbsp;|</a>
      <a *ngIf="userEmail === 'pdxfoodservice@gmail.com'" class="navbar-brand" routerLink="map">MAP</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn">
        <a>{{userName}}</a>
        <a (click)="logout()">&nbsp;|&nbsp; Log out</a>
      </li>
      <li *ngIf ="!isLoggedIn">
        <a (click)="login()">&nbsp;|&nbsp; Log in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
