<div class="row mt-4">
  <div class='col-sm-8'>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">ADD NEW CLIENT</h3>
      </div>
      <div class="form-group card-body">
        <div>
          <div>
            <label>Name:</label>
            <input class='form-control' #newName>
          </div>

          <div>
            <label>Address:</label>
            <input class='form-control' #newAddress>
          </div>

          <div>
            <label>Zip Code:</label>
            <input class='form-control' type='number' #newZip>
          </div>

          <div>
            <label>Phone Number:</label>
            <input class='form-control' #newPhone>
          </div>

          <div>
            <label>Carrier:</label>
            <select class='form-control' #newCarrier>
              <option value="Verizon">Verzion</option>
              <option value="AT&T">AT&T</option>
              <option value="T-Mobile">T-Mobile</option>
              <option value="Sprint">Sprint</option>
            </select>
          </div>

          <div>
            <label>Plan:</label>
            <select class='form-control' #newPlan>
              <option value="Normal">Normal</option>
              <option value="Low Soy">Low Soy</option>
              <option value="Glute Free">Gluten Free</option>
              <option value="Small">Small</option>
            </select>
          </div>

          <div>
            <label>Email:</label>
            <input class='form-control' #newEmail>
          </div>

          <div>
            <label>Allergies:</label>
            <input class='form-control' #newAllergies>
          </div>

          <div>
            <label>Delivery:</label>
            <select class='form-control' #newDelivery>
              <option value="Bi Weekly">Bi Weekly</option>
              <option value="Weekly">Weekly</option>
            </select>
          </div>

          <div>
            <label>Payment:</label>
            <select class='form-control' #newPayment>
              <option value="Stripe">Stripe</option>
              <option value="PayPal">PayPal</option>
            </select>
          </div>

          <div>
            <label>Opt-in:</label>
            <select class='form-control' #optIn>
              <option value=true>Opt in</option>
              <option value=false>Opt out</option>
            </select>
          </div>

          <br>
          <button class="btn btn-success" (click)="submitForm(newName.value, newAddress.value, newZip.value, newPhone.value, newCarrier.value, newPlan.value, newEmail.value, newAllergies.value, newDelivery.value, newPayment.value, optIn.value); newName.value=''; newAddress.value=''; newZip.value=''; newPhone.value=''; newCarrier.value=''; newPlan.value=''; newEmail.value=''; newAllergies.value=''; newDelivery.value=''; newPayment.value='';">Add new client</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngIf="message" [class]="messageColor(message)" >
      <div class='card-body'>
        <h1>{{message}}</h1>
      </div>
    </div>
  </div>
</div>
