<div  *ngIf="clientToDisplay" class="row">
  <div class="card col-md-4">
    <div class="car-header">
      <h1>Client: {{clientToDisplay.name}}</h1>
      <h3>Account</h3>
    </div>
    <div class="card-body">
      <h3>Account Balance: ${{clientToDisplay.account}}</h3>
      <h3>Statement Balance: ${{clientToDisplay.statement}}</h3>
      <h4>Payment type: {{clientToDisplay.payment}}</h4>
    </div>
  </div>
  <div class="card col-md-3">
    <div class="card-header">
      <h3>Contact</h3>
    </div>
    <div class="card-body">
    <h4>Address: {{clientToDisplay.address}}</h4>
    <h4>Zip: {{clientToDisplay.zip}}</h4>
    <h4>Phone: {{clientToDisplay.phone}}</h4>
    <h4>Carrier: {{clientToDisplay.carrier}}</h4>
    <h4>Email: {{clientToDisplay.email}}</h4>
    </div>
  </div>
  <div class="card col-md-3">
    <div class="car-header">
      <h3>Info</h3>
    </div>
    <div class="card-body">
    <h5>Meal Plan: {{clientToDisplay.plan}}</h5>
    <h5>Known Allergies: {{clientToDisplay.allergies}}</h5>
    <h5>Delivery Schedule: {{clientToDisplay.delivery}}</h5>
    <h4>Opted In: {{clientToDisplay.opt}}</h4>
    </div>
  </div>


  <button class="btn btn-danger" (click)="beginDeletingClient(clientId)">Delete</button>
  <button class="btn btn-info" (click)="beginEditingClient()">Edit</button>
</div>
<div *ngIf='edit'>
  <app-update-client [clientId]="clientId"[selectedClient]="clientToDisplay" (clickSender)="finishEdit($event)" (clickSender2)="setMessage($event)">></app-update-client>
</div>
<div *ngIf="message" [class]="messageColor(message)" >
  <div class='card-body'>
    <h1>{{message}}</h1>
  </div>
</div>
