<div class="row">
  <h1 class="clientName">{{(clientToDisplay | async)?.name}}</h1>
</div>
<div class="row">
  <div class="card col-md-4">
    <div class="car-header">
      <h3>Account</h3>
    </div>
    <div class="card-body">
      <h3>Account Balance: ${{(clientToDisplay | async)?.account}}</h3>
      <h3>Statement Balance: ${{(clientToDisplay | async)?.statement}}</h3>
    </div>
  </div>
  <div class="card col-md-3">
    <div class="car-header">
      <h3>Contact</h3>
    </div>
    <div class="card-body">
    <h4>Address: {{(clientToDisplay | async)?.address}}</h4>
    <h4>Zip: {{(clientToDisplay | async)?.zip}}</h4>
    <h4>Phone: {{(clientToDisplay | async)?.phone}}</h4>
    <h4>Email: {{(clientToDisplay | async)?.email}}</h4>
    </div>
  </div>
  <div class="card col-md-3">
    <div class="car-header">
      <h3>Info</h3>
    </div>
    <div class="card-body">
    <h5>Known Allergies: {{(clientToDisplay | async)?.allergies}}</h5>
    <h5>Delivery Schedule: {{(clientToDisplay | async)?.delivery}}</h5>
    <h5>Payment Option: {{(clientToDisplay | async)?.payment}}</h5>
    </div>
  </div>
</div>
