<div *ngIf="clientToDisplay">
  <h1>Client: {{clientToDisplay.name}}</h1>
  <h2>Account Balance: ${{clientToDisplay.account}}</h2>
  <h2>Statement Balance: ${{clientToDisplay.statement}}</h2>
  <h4>Address: {{clientToDisplay.address}}</h4>
  <h4>Zip: {{clientToDisplay.zip}}</h4>
  <h4>Phone: {{clientToDisplay.phone}}</h4>
  <h4>Carrier: {{clientToDisplay.carrier}}</h4>
  <h4>Allergies: {{clientToDisplay.allergies}}</h4>
  <h4>Delivery: {{clientToDisplay.delivery}}</h4>
  <h4>Payment: {{clientToDisplay.payment}}</h4>
  <h4>Opted In: {{clientToDisplay.opt}}</h4>
</div>

<button class="btn btn-danger" (click)="beginDeletingClient(clientToDisplay)">Delete</button>
<button class="btn btn-info" (click)="beginEditingClient()">Edit</button>

<div *ngIf='edit'>
  <app-update-client [clientId]="clientId"[selectedClient]="clientToDisplay" (clickSender)="finishEdit($event)">></app-update-client>
</div>


<!-- <div>
  <h4 class="align-middle">{{clientToDisplay.data.name}}</h4>
  <h4 style="text-align: center;">${{clientToDisplay.account}}</h4>
  <h4 style="text-align: center;">${{clientToDisplay.statement}}</h4>
  <h4 style="text-align: center;">{{clientToDisplay.address}}</h4>
  <h4 style="text-align: center;">{{clientToDisplay.zip}}</h4>
  <h4 style="text-align: center;">{{clientToDisplay.phone}}</h4>
  <h4 style="text-align: center;">{{clientToDisplay.email}}</h4>
</div> -->
