<h1>Curiosity Images</h1>

<form>
  <div class="form-group">
    <label for="camera">Date</label>
    <input type=date #roverDate>
  </div>
  <div class="form-group">
    <label for="camera">Camera</label>
    <select #roverCamera>
      <option value="FHAZ">Front Hazard Avoidance Camera</option>
      <option  value="RHAZ">Rear Hazard Avoidance Camera</option>
      <option value="MAST">Mast Camera</option>
      <option  value="CHEMCAM">Chemistry and Camera Complex</option>
      <option  value="MAHLI">Mars Hand Lens Imager</option>
    </select>
  </div>
  <button (click)="getRoverImages(roverDate.value, roverCamera.value)">Get Photos</button>
</form>
