<h2 class="clientName">Future Meals</h2>
<div>
  <select (change)="showMeal(selectedMeal)"
  [(ngModel)]=selectedMeal>
    <option value="weekly" selected="selected">Weekly</option>
    <option value="biweekly1">Biweekly starting Week 1</option>
    <option value="biweekly2">Biweekly starting Week 2</option>
  </select>
</div>
<div class="row">
  <div class="col-md-4 card">
    <h3>Create a new Meal</h3>
    <form class="form-group">
      <div>
        <label>Meal:</label>
        <input #newMeal>
      </div>

      <div>
        <label>Date:</label>
        <input type="date" #newDate>
      </div>

      <button class="btn" (click)="submitForm(newMeal.value, newDate.value); newMeal.value=''; newDate.value='';">Add Meal</button>
    </form>
    <br>
  </div>


  <div class="col-md-6 card" *ngIf="showWeek">
    <div *ngFor="let meal of mealsDate | async">
        <div class="card-header">
          <h2>{{ meal.data.meal }}</h2>
        </div>
        <div class="card-body">
          <h3 class="mealDate">{{ meal.data.date }}</h3>
          <h5>Clients Opted In:</h5>
          <hr>
          <div *ngFor="let client of clients | async">
            <div *ngIf="client.data.opt === 'true'">
              <div *ngIf="client.data.delivery === 'Weekly'">
                <h4>{{ client.data.name }}</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-6 card" *ngIf="showBiweek1">
    <div *ngFor="let meal of mealsDate | async even as even">
      <div *ngIf="even">
        <div class="card-header">
          <h2>{{ meal.data.meal }}</h2>
        </div>
        <div class="card-body">
          <h3 class="mealDate">{{ meal.data.date }}</h3>
          <h5>Clients Opted In:</h5>
          <hr>
          <div *ngFor="let client of clients | async">
            <div *ngIf="client.data.opt === 'true'">
              <div *ngIf="client.data.delivery === 'Bi Weekly 1'">
                <h4>{{ client.data.name }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 card" *ngIf="showBiweek2">
    <div *ngFor="let meal of mealsDate | async odd as odd">
      <div *ngIf="odd">
        <div class="card-header">
          <h2>{{ meal.data.meal }}</h2>
        </div>
        <div class="card-body">
          <h3 class="mealDate">{{ meal.data.date }}</h3>
          <h5>Clients Opted In:</h5>
          <hr>
          <div *ngFor="let client of clients | async">
            <div *ngIf="client.data.opt === 'true'">
              <div *ngIf="client.data.delivery === 'Bi Weekly 2'">
                <h4>{{ client.data.name }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
