body{
  background: #3e4444;
  font-family: 'Bree Serif', serif;
  height: 100%;
  margin-bottom: 50px;
}

.clientName{
  color: #82b74b;
}

.mealDate{
  color: #567a32;
}

.card{
  margin: 5px;
  font-family: 'Bree Serif', serif;
  background-color: #c1946a;
}

.navbar-header{

}

a:link{
  color: #82b74b;
}

a, a:hover {
  color: #82b74b;
}

img{
  width: 30%;
}

footer{
  color: #D7D7D7;
  text-align: right;
  padding-top: 10px;
  padding-right: 8%;
  letter-spacing: 7px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  margin: 250px auto auto auto;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 2;

}
