body{
    background: #3e4444;
    font-family: 'Bree Serif', serif;
}

.clientName{
  color: #82b74b;
}

.mealDate{
  color: #567a32;
}

.card{
  margin: 5px;
  font-family: 'Bree Serif', serif;
  background-color: #c1946a;
}

.navbar-header{

}

a:link{
  color: #82b74b;
}

a, a:hover {
  color: #82b74b;
}

img{
  width: 30%;
}
